<md-toolbar>Login</md-toolbar>
<md-list>
    <md-list-item>
        <md-input placeholder="Username or email" #username [(ngModel)]="userLogin.Username" (keyup.enter)="valid()?submit():return"></md-input>
    </md-list-item>
    <md-list-item>
        <md-input type="password" placeholder="Password" [(ngModel)]="userLogin.Password" (keyup.enter)="valid()?submit():return"></md-input>
    </md-list-item>
    <md-list-item>
        <button md-raised-button type="button" (click)="submit()" [disabled]="!valid()">Login</button>
    </md-list-item>
</md-list>
