<h4>User : {{user.Username}}</h4>
<form>
    <label for="Username">Username</label>
    <input [(ngModel)]="user.Username" placeholder="Username" required>

    <label for="Age">Age</label>
    <input type="text" placeholder="Age" [(ngModel)]="user.Age" (ngModelChange)="diagnostic()">

    <label for="Gender">Gender</label>
    <select [(ngModel)]="user.Gender" ngControl="gender" #gender="ngForm" (ngModelChange)="diagnostic()">
        <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
    </select>

    <button type="button" (click)="register()">Register</button>
</form>
